#main {width:1000px; margin:0 auto; position:relative;}

#header {height:285px; background:url(images/header-bg.jpg) no-repeat left top;}
#header, #content, #footer { font-size:0.75em;}
#footer {height:89px;}

* { margin:0; padding:0;}

body { background:url(images/tail-top.gif) repeat-x top #fff; font-family:Tahoma, Geneva, sans-serif; font-size:100%; line-height:1em; color:#414141;}

input, textarea, select { font-family:Tahoma, Geneva, sans-serif; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin:0; padding:0;}

.tail-top-right { position:absolute; right:0; top:0; width:50%; height:285px; background:url(images/tail-top-right.gif) repeat-x right top;}


/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

#form { clear:right; width:100%; overflow:hidden;}
#form fieldset { border:none; float:left; }
#form .field { clear:both;}
#form label { float:left; width:97px; line-height:18px; padding-bottom:8px; font-weight:bold; color:#4c7cbd;}
#form input { width:170px; padding:1px 0 1px 3px; background:url(images/png-bg.png) left top; border:1px solid #d6d6d6; color:#414141; float:left;}
#form textarea { width:539px; height:252px; padding:1px 0 1px 3px; background:url(images/png-bg.png) left top; border:1px solid #d6d6d6; color:#414141; margin-bottom:15px; overflow:auto; float:left;}


/*==================list====================*/
ul { list-style:none;}

.site-nav { width:100%; overflow:hidden; padding-top:15px;}
.site-nav li { float:left; font-weight:bold; border-right:1px solid #d5d5d5; padding:0 73px 4px 73px;}
.site-nav li a { color:#000;}
.site-nav li a:hover,
.site-nav li a.act { 
	color:#4c7cbd;
}
.site-nav li.last { border:0;}

/*==================txt, links, lines, titles====================*/
a {color:#414141; outline:none;}
a:hover{text-decoration:none;}

h3 { font-size:1em; color:#4c7cbd; margin-bottom:12px;}
h3 a { color:#4c7cbd; text-decoration:none;}
h3 a:hover { text-decoration:underline;}

.link { display:block; float:right; background:url(images/link-bgd.gif) repeat-x top; color:#4c7cbd; font-size:1em; text-decoration:none; line-height:.92em;}
.link em { display:block; background:url(images/link-left.gif) no-repeat left top;}
.link b { display:block; background:url(images/link-right.gif) no-repeat right top; padding:5px 21px 6px 21px; font-style:normal;}
.link:hover { text-decoration:underline;}

.line-hor { border-bottom:1px solid #000; margin:20px 0; overflow:hidden; font-size:0; line-height:0;}

.title { margin-bottom:18px; font-weight: bold; font-size: 25px;}

.maintitle {font-size: 25px; color: White; font-weight: bold; line-height: 30px; text-shadow: Black 2px 2px 7px; }


/*==================boxes====================*/
.box { background:#fff; width:100%;}
.box .border-top {background:url(images/border.gif) repeat-x top;}
.box .border-bot {background:url(images/border.gif) repeat-x bottom;}
.box .border-left {background:url(images/border.gif) repeat-y left; width:100%;}
.box .border-right {background:url(images/border.gif) repeat-y right;}
.box .inner { padding:30px 30px 40px 31px;}


/*header*/
#header .logo { position:absolute; top:137px; left:55px;}

/*content*/
#content { padding:20px 40px 0 40px;}
#content .indent { padding:14px 0 0 9px;}
#content p { line-height:1.17em;}

/*footer*/
#footer .indent { padding:37px 40px 20px 40px;}}

/*==========================================*/

#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}